<div class="header">
  <div class="container">
    <div class="grid-middle">

      <div class="col-3">
        <div class="logo__wrapper">
          <a href="{{ "/" | relative_url }}" class="logo">
            <img src="{{ "/assets/images/logo-test.svg" | relative_url }}" alt="Baltic Athletics Logo" />
          </a>
        </div>
      </div>

      <div class="col-9 text-right">
        <div class="nav__wrapper">
          <div class="nav__item-wrapper">
            <div class="nav__item">
              <a href="{{ "/catalogues" | relative_url }}" class="nav__link">
                <i class="fal fa-book"></i> Catalogues
              </a>
            </div>
            <div class="nav__item">
              <a href="/" class="nav__link">
                <i class="fal fa-clipboard"></i> Team Order Management
              </a>
            </div>
            <div class="nav__item">
              <a href="/" class="nav__link">
                <i class="fal fa-envelope"></i> Contact
              </a>
            </div>
          </div>
          <div class="nav__item nav__item--has-sub btn">
            <span class="nav__item-btn-text">More</span><i class="fal fa-chevron-down"></i>
            <div class="sub-nav__wrapper">
              <div class="sub-nav__inner">
                <div class="sub-nav__item">
                  <a href="/" class="sub-nav__link">
                    <i class="fal fa-truck"></i> Suppliers
                  </a>
                </div>
                <div class="sub-nav__item">
                  <a href="/" class="sub-nav__link">
                    <i class="fal fa-quote-left"></i> Testimonials
                  </a>
                </div>
                <div class="sub-nav__item">
                  <a href="/" class="sub-nav__link">
                    <i class="fal fa-badge-percent"></i> Clearance
                  </a>
                </div>
                <div class="sub-nav__item">
                  <a href="/" class="sub-nav__link">
                    <i class="fal fa-images"></i> Gallery
                  </a>
                </div>
                <div class="sub-nav__item">
                  <a href="/" class="sub-nav__link">
                    <i class="fal fa-users"></i> Meet the Team
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>