---
layout: default
---

<div class="page__header" style="background-image: url('{{ "/assets/images/banner-catalogues.jpg" | relative_url }}');">
  <div class="container">
    <div class="grid-middle">
        <div class="col-12">
          <h1 class="page__header-title">{{ page.title }}</h1>
        </div>
    </div>
  </div>
</div>
<div class="page__content">
  <div class="container margin-50">
    <div class="grid-center">
      <div class="col-12">
        <div class="page__title-wrapper">
          <img class="page__title-img" src="{{ '/assets/images/title-products.svg' | relative_url }}" />
          <h3 class="page__title">Products</h3>
        </div>
      </div>
      <div class="col-12">
        <ul>
          {% for product in page.products %}
            <li>{{ product }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container margin-50">
    <div class="grid-center">
      <div class="col-12">
        <div class="page__title-wrapper">
          <img class="page__title-img" src="{{ '/assets/images/title-photos.svg' | relative_url }}" />
          <h3 class="page__title">Photos</h3>
        </div>
      </div>
      {% for photo in page.photos %}
        <div class="col-3">
          <a href="{{ photo | prepend: site.mediaUrl }}" class="category__photo-wrapper">
            <img class="category__photo" src="{{ photo | prepend: site.mediaUrl }}" />
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="grid-center">
      <div class="col-12">
        <div class="page__title-wrapper">
          <img class="page__title-img" src="{{ '/assets/images/title-suppliers.svg' | relative_url }}" />
          <h3 class="page__title">Suppliers</h3>
        </div>
      </div>
      {% assign strippedPermalink = page.permalink | remove: '"' | remove_first: '/' | append: '.md' %}
      {% assign supplierPages = site.pages | where: 'layout', "supplier" %}
      {% assign supplierPages = supplierPages | where_exp: 'supplier', "supplier.categories contains strippedPermalink" %}
      {% for supplier in supplierPages %}
        <div class="col-6">
          <div class="supplier__wrapper">
            <div class="grid">
              <div class="col-4">
                <img class="supplier__logo" src="{{ supplier.logo | prepend: site.mediaUrl }}" />
              </div>
              <div class="col-8">
                <h3 class="supplier__title">{{ supplier.title }}</h3>
                {% if supplier.website.size > 0 %}
                  <div class="supplier__section">
                    <div class="supplier__section-icon">
                      <i class="fal fa-globe"></i>
                    </div>
                    <a class="supplier__section-website" href="{{ supplier.website }}" target="_blank" >{{ supplier.website }}</a>
                  </div>
                {% endif %}
                {% if supplier.pdfs.size > 0 %}
                  <div class="supplier__section">
                    <div class="supplier__section-icon">
                      <i class="fal fa-file-pdf"></i>
                    </div>
                    <ul class="supplier__pdfs">
                      {% for pdf in supplier.pdfs %}
                        <li class="supplier__pdf">
                          <a href="{{ pdf | prepend: site.mediaUrl }}" target="_blank" >{{ pdf }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% if supplier.info.size > 0 %}
                  <div class="supplier__section">
                    <div class="supplier__section-icon">
                      <i class="fal fa-info-circle"></i>
                    </div>
                    {{ supplier.info | markdownify }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>