---
layout: default
---

<div class="page__header" style="background-image: url('{{ "/assets/images/banner-catalogues.jpg" | relative_url }}');">
  <div class="container">
    <div class="grid-middle">
        <div class="col-12">
          <h1 class="page__header-title">{{ page.title }}</h1>
        </div>
    </div>
  </div>
</div>
<div class="container page__content">
  <div class="grid-center">
    <div class="col-8_md-12 rte">
      <div class="grid-middle">
        {% for teamMember in page.team-members %}
          <div class="col-4">
            <img src="{{ teamMember.photo | prepend: site.mediaUrl }}" />
          </div>
          <div class="col-8">
            <h2>{{ teamMember.name }}</h2>
            <div class="content">
              {{ teamMember.bio }}
            </div>
          </div>
        {% endfor %}
      </div>
      {{ content }}
    </div>
  </div>
</div>